
/* -------------------------------------------
   Toolbox
---------------------------------------------- */

.toolbox,
.toolbox-left,
.toolbox-right,
.toolbox-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.toolbox {
    justify-content: space-between;
}

.toolbox-left {
    flex: 1;
    white-space: nowrap;
}
.toolbox {
    font-size: 1.3rem ;
    line-height: 1.5;
    padding-bottom: 2rem;
    transition: padding .4s;
    color: var(--alpha-change-color-dark-1);

    &-left, &-right {
        > * {
            margin-#{$right}: 2rem;
        }
    }

    .toolbox-right {
        margin-#{$right}: -2rem;
    }

    label {
        margin-#{$right}: 1rem;
        font-weight: var(--alpha-heading-font-weight);
        text-transform: uppercase;
    }

    select {
        cursor: pointer;
        padding: side-values(.9rem 2.7rem .9rem 1.3rem);
        background-position: calc(100% - 4px);
        line-height: normal;
    }

    .select-box::before {
        font-size: 1rem;
        #{$right}: 1rem;
    }

    .toolbox-toggle {
        border-radius: $corner-sm;
        padding: .95rem 1.3rem;
        font-size: 1.3rem;

        i {
            font-size: 1.4rem;
            line-height: inherit;

            @include mq(sm, max) {
                margin: 0 5px;
            }
        }
    }

    .orderby {
        width: 15.2rem;
        max-width: none;
    }
    .item-found span {
        color: var(--alpha-change-color-dark-1);
        margin-#{$right}: .5rem;
    }
}
.toolbox-item {
    flex-wrap: nowrap;
    margin-bottom: 1rem;
}

@include mq(lg, max) {
    .toolbox-left, .toolbox-right {
        flex-wrap: nowrap;
    }
}
@include mq(xs, max) {
    .toolbox .orderby {
        width: 13rem;
    }
    .toolbox-left > *,
    .toolbox-right > * {
        margin-#{$right}: 1rem;
    }
    .toolbox .toolbox-right {
        margin-#{$right}: -1rem;
    }
}