/* -------------------------------------------
    Layout
---------------------------------------------- */
.container,
.container-fluid {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.container .container-fluid,
.container-fluid .container-fluid {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.container .container {
    width: 100%;
}

.sticky-content > .container {
    padding-left: 30px;
    padding-right: 30px;
}

@include mq(xs, max) {
    .container,
    .container-fluid,
    .sticky-content > .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.container-fluid {
    max-width: var(--alpha-container-fluid-width);

    .container {
        max-width: calc( var(--alpha-container-fluid-width) - 30px );
    }
}
.container {
    max-width: var(--alpha-container-width);
}
.divider {
    display: inline-block;
    vertical-align: middle;
    height: 1.9rem;
    width: 1px;
    background-color: var(--alpha-change-border-color);
}